
.comeco,.contatos1,.links-uteis{
    background-image: url(/Imagem/contabilidade-fundo01.jpg);
    padding: 50px;
    /*border-style:solid;*/
    border-bottom:solid;

}

body{
    padding: 5px;
    padding-bottom: 500;
    background-color: rgba(255, 255, 255, 0.945);
    height: 200px;
    width: auto;

}   
.cabeçalho{
    padding: 5px;
    background-color: #173f8f;
    text-align: end;
    font-size: 20px;
}
h1{
    color: #173f8f;
    text-align: center;
}

h2{
    color: brown;
}
ul{
    font-size: 40px;
}
p{
    font-size: 20px;
    text-align: center;
}
li{
    font-size: 20px;
}
.ddde{
padding: 3px;
display: flex;
flex-direction: row;
justify-content: end;
flex-wrap: wrap;
}

/*https://www.w3schools.com/css/css3_flexbox_container.asp*/

.Contato{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn{
    background-color: #a5a5a5;

}

.nav-wrapper{
    background-color: #173f8f;
    
}